{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br>
        <table class="table">
          <thead>
            <tr>
                <th style="width: 5%"></th>
                <th scope="col"><h2>Szczegóły klasy:</h2></th>
                <th>
                    <a href="{% url 'teacher:list_classes' %}">
                        <button type="button" class="btn btn-warning">Powrót do listy klas</button></a>
                    <a href="{% url 'teacher:list_classes' %}">
                        <button type="button" class="btn btn-warning">Modyfikuj</button></a>
                    <a href="{% url 'teacher:delete_class' class_id %}">
                        <button type="button" class="btn btn-warning">Usuń</button></a>
                </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">klasa:</th>
              <td>{{ class_number }}{{ class_letter }} ({{ semester }})</td>
            </tr>
            <tr>
              <th scope="row">szkoła:</th>
              <td>{{ school }}</td>
            </tr>

        </table>


    </div>
{% endblock %}
