{% load static %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between my-4">
        <a href="/" class="d-flex text-decoration-none">
            <img src="{% static 'teacher/img/logo100.png' %}" alt="logo" style="max-height: 60px;">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-4 fs-5 header-link">Lista klas</a></li>
            <li><a href="/" class="nav-link px-4 fs-5 header-link">Kontakt</a></li>
        </ul>

        <div class="d-flex flex-wrap justify-content-between">
            <a href="{% url 'teacher:register' %}">
                <button type="button" class="btn btn-primary mx-2">
                    {{ icon_register|safe }} Rejestracja
                </button>
            </a>
            <a href="{% url 'teacher:login' %}">
                <button type="button" class="btn btn-primary mx-2">
                   {{ icon_login|safe }} Logowanie
                </button>
            </a>
        </div>
    </header>
    <hr>
</div>

{#{% if current_user.is_authenticated %}#}
{#    Witaj {{ current_user.email }}#}
{#{% endif %}#}
{##}
{#{% if current_user.is_authenticated %}#}
{#    <div><a href="/logout" >Wyloguj</a></div>#}
{#{% else %}#}
{#    <div><a href="/login" >Zaloguj</a></div>#}
{#{% endif %}#}
