{% extends 'teacher/base_wo_header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        {{ form.styles }}
    </style>
{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <table>
                <tr>
                    <td>
                        <div class="py-3">
                            <p class="center">
                                Ta ankieta jest przeznaczona dla ucznia: <b>{{ student_name }}</b><br>
                                Jeżeli nie jesteś tym uczniem, nie wypełniaj tej ankiety i zgłoś pomyłkę nauczycielowi.<br>
                                {% if deadline is not None %}
                                    {% if is_overdue %}
                                        <b class="warning">Termin wypełnienia ankiety minął {{ deadline }}</b><br>
                                    {% else %}
                                        Ankieta jest otwarta do {{ deadline }}<br>
                                        <u>Gdy skończysz, nie zapomnij kliknąć <b>Zapisz odpowiedzi</b></u><br>
                                    {% endif %}
                                {% endif %}
                                    {% if is_closed %}
                                        <b class="warning">Ankieta została zamknięta.</b><br>
                                    {% endif %}
                            </p>
                            <p>
                            <i>
                                {% for msg in message_to_students %}
                                    {{ msg }}<br>
                                {% endfor %}
                            </i>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            {% crispy form %}
                        </div>
                    </td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

