{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br>

        <table class="table">
            <thead>
            <tr>
                <th style="width: 10%"></th>
                <th scope="col"><h2>Szczegóły klasy:</h2></th>
                <th>
                    <a href="{% url 'teacher:list_classes' %}"><button type="button" class="btn btn-warning">Powrót</button></a>
                    <a href="{% url 'teacher:add_questionnaire' class_id %}"><button type="button" class="btn btn-info">Ankieta</button></a>
                    <a href="{% url 'teacher:list_classes' %}"><button type="button" class="btn btn-warning">Modyfikuj</button></a>
                    <a href="{% url 'teacher:delete_class' class_id %}"><button type="button" class="btn btn-warning">Usuń klasę</button></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>klasa:</td>
                <td>{{ class_number }}{{ class_letter }} (semestr: {{ semester }})</td>
            </tr>
            <tr>
                <td>szkoła:</td>
                <td>
                    {% if school|length %}
                        {{ school }}
                    {% else %}
                        <i>nazwa szkoły nie została podana</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>lista uczniów:</td>
                <td>
                    {% if students|length > 0 %}
                        <ol>
                            {% for student in students %}
                                <li>{{ student }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <i>do tej klasy nie dodano żadnego ucznia</i>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
