{% extends 'teacher/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
    <div class="container">
        <br>

        <table class="table">
            <thead>
            <tr>
                <th colspan="2">
                    <div class="d-flex flex-row justify-content-between">
                        <div><h2>Ankieta:</h2></div>
                        <div>
                            <a href="{% url 'teacher:add_questionnaire' my_class.id 'modify' %}">
                                <button type="button" class="btn btn-warning">
                                    {{ icon_modify|safe }} Modyfikuj
                                </button>
                            </a>
                        </div>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#questionnaire_delete"
                                    type="button" class="btn btn-warning" title="usuń ankietę">
                                {{ icon_trash|safe }} Usuń ankietę
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="questionnaire_delete" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body flex-column">
                                            <h2>Czy na pewno chcesz skasować tą ankietę?</h2>
                                            <img src="{% static 'teacher/img/trash500.png' %}" class="center-img" style="max-height: 300px; max-width: 300px">
                                        </div>
                                        <div class="modal-footer justify-content-around">
                                            <a href="{% url 'teacher:delete_questionnaire' questionnaire_id %}">
                                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">TAK</button>
                                            </a>
                                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">NIE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Modal -->
                        </div>
                        <div>
                            <a href="{% url 'teacher:show_class' my_class.id %}">
                                <button type="button" class="btn btn-warning">
                                    {{ icon_return|safe }} Powrót
                                </button>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>klasa:</th>
                <td>{{ my_class }}</td>
            </tr>
            <tr>
                <th class="align-middle">skala ocen:</th>
                <td class="align-middle">
                    {{ gradescale }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">termin końcowy:</th>
                <td class="align-middle">
                    {% if deadline is not None %}
                        {{ deadline }}
                    {% else %}
                        <i>termin końcowy nie został wskazany (ankieta będzie aktywna aż do jej zamknięcia)</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="align-middle">status ankiety:</th>
                <td class="align-middle">
                    {% if is_closed %}
                        zamknięta
                        {% set "aktywuj" as action_description %}
                    {% else %}
                        {% set "zamknij" as action_description %}
                        {% if is_overdue %}
                            zakończona (aby wydłużyć czas na wypełnienie ankiety, kliknij &ltModyfikuj&gt)
                        {% else %}
                            otwarta
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'teacher:open_close_questionnaire' questionnaire_id %}">
                        <button type="button" class="btn btn-warning">
                            {{ action_description }}
                        </button>
                    </a>

                    {{ state }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">treść&nbspwiadomości:</th>
                <td class="align-middle ">
                    {% if message_to_students is None %}
                        <i>brak wiadomości do uczniów</i>
                    {% else %}
                        <div class="d-flex justify-content-start">
                            <div class="border border-1 border-warning rounded-3 px-3 py-1" style="background-color: #fff8">
                                {% for msg in message_to_students %}
                                    {{ msg }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th class="align-top">ankiety uczniów:</th>
                <td class="align-middle">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="">uczeń</th>
                            <th class="">ID ankiety (podgląd)</th>
                            <th class="center">kopiuj link</th>
                            <th class="center">kod QR</th>
                            <th class="center">% wypełnienia</th>
                            <th class="center">statystyki</th>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td class="align-middle">{{ student.name }}</td>
                                <td class="align-middle monospace-font">
                                    <a href="{{ student.absolute_questionnaire_url }} " target="_blank" title="podgląd odpowiedzi ucznia">
                                        {{ student.personal_questionnaire_id }}
                                    </a>
                                </td>
                                <td class="center">
                                    <div class="mytooltip">
                                        <button onclick="copyToClipboard('{{ student.absolute_questionnaire_url }}', 'tooltip_{{ student.id }}', 'svg_{{ student.id }}')"
                                                onmouseout="outFunc('tooltip_{{ student.id }}')"
                                                type="button" class="btn">
                                            <span class="mytooltiptext" id="tooltip_{{ student.id }}">Skopiuj link do schowka</span>
                                            <svg id="svg_{{ student.id }}" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                                                {{ svg_clipboard_plus|safe }}
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                                <td class="center">
                                    <button data-bs-toggle="modal" data-bs-target="#{{ student.personal_questionnaire_id }}"
                                            type="button" class="btn" title="pokaż kod QR">
                                        {{ icon_qrcode|safe }}
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{ student.personal_questionnaire_id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">{{ student.name }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="{{ student.absolute_questionnaire_url }} " target="_blank">
                                                        {{ student.absolute_questionnaire_url }}
                                                    </a>
                                                    <img src="{% static qrcode %}{{ student.qrcode_path }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Zamknij</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Modal -->
                                </td>
                                <td class="center">
                                    {{ student.questionnaire_response_rate }}%
                                </td>
                                <td class="center">
                                    <a href="{% url 'teacher:statistics' student.id %}" class="btn" title="pokaż statystyki w bieżącym oknie">
                                        {{ icon_statistics|safe }}
                                    </a>
                                    <a href="{% url 'teacher:statistics' student.id %}" target="_blank" class="btn" title="pokaż statystyki w nowym oknie">
                                        {{ icon_open_new_window|safe }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
