{% extends 'teacher/jinja2/base_wo_header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        {{ form.styles }}
    </style>
{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <table>
                <tr>
                    <td>
                        <div class="py-3">
                            <p><i>
                                Ta ankieta jest przeznaczona dla ucznia: <b>{{ student_name }}</b><br>
                                Jeżeli nie jesteś tym uczniem, zamknij ankietę i zgłoś pomyłkę nauczycielowi.<br>
                                <u>Gdy skończysz, nie zapomnij kliknąć w przycisk "Zapisz odpowiedzi"</u>
                            </i></p>
                            <p>
                                {% for msg in message_to_students %}
                                    {{ msg }}<br>
                                {% endfor %}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            {% crispy form %}
                        </div>
                    </td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

