{% extends 'teacher/jinja2/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br>

        <table class="table">
            <thead>
            <tr>
                <th style="width: 2%"></th>
                <th>
                    <div class="d-flex flex-row justify-content-between">
                        <div><h2>Szczegóły klasy:</h2></div>
                        <div>
                            <a href="{% url 'teacher:list_classes' %}">
                                <button type="button" class="btn btn-warning">Powrót</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'teacher:add_questionnaire' my_class.id %}">
                                <button type="button" class="btn btn-info">Ankieta</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'teacher:list_classes' %}">
                                <button type="button" class="btn btn-warning">Modyfikuj</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'teacher:delete_class' my_class.id %}">
                                <button type="button" class="btn btn-warning">Usuń klasę</button>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th>klasa:</th>
                <td>{{ my_class }})</td>
            </tr>
            <tr>
                <th>lista&nbspuczniów:</th>
                <td>
                    {% if students|length > 0 %}
                        <ol>
                            {% for student in students %}
                                <li>{{ student }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <i>do tej klasy nie dodano żadnego ucznia</i>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
