{% extends 'teacher/jinja2/base.html' %}
{% load static %}

{% block style %}
    <style>
        {{ styles }}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <br>

        {#GENERAL DATA SECTION#}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">
                    <div class="d-flex flex-row justify-content-between">
                        <div><h2>statystyki ucznia:</h2></div>
                        <div>
                            <a href="">
                                <button type="button" class="btn btn-warning" onclick="history.back()">Powrót</button>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    uczeń:
                </th>
                <td>
                    {{ student_obj.name }}
                </td>
            </tr>
            <tr>
                <th>klasa:</th>
                <td>{{ my_class }})</td>
            </tr>

            <tr>
                <th>debug:</th>
                <td>
                    {{ debug }}
                </td>
            </tr>
            </tbody>
        </table>

        {#SELF GRADE SECTION#}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2"><h4>Samoocena:</h4></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="align-middle">ocena przyznana sobie:</th>
                <td>
                    <form>
                        {% if self_grade.grade.int_value is not None %}
                            {% for grade in grades %}
                                <input type="radio" class="btn-check" name="_" id="_" value="{{ grade.id }}" {% if grade.id == self_grade.grade_id %}checked=""{% endif %}>
                                <label class="btn btn-outline-custom{{ grade.int_value }}" for="intentionally_wrong_to_prevent_changing">
                                    {% if grade.svg_icon %}
                                        <svg width="48" height="48" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                                            <path d="{{ grade.svg_icon }}"/>
                                        </svg>
                                    {% else %}
                                        {{ grade.caption }}
                                    {% endif %}
                                </label>
                            {% endfor %}
                            <div>wartość liczbowa oceny:{{ self_grade.grade.int_value }}</div>
                        {% else %}
                            <i>uczeń nie ocenił swojego zachowania</i>
                        {% endif %}
                    </form>
                </td>
            </tr>
            <tr>
                <th>średnia&nbspsamoocena w klasie:</th>
                <td class="align-middle">
                    {{ self_grade_mean }}
                </td>
            </tr>
            <tr>
                <th>przeciętna&nbspsamoocena w klasie:</th>
                <td class="align-middle">
                    {{ self_grade_median }}
                </td>
            </tr>
            </tbody>
        </table>

        {#COLLECTED GRADES SECTION#}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2"><h4>Oceny otrzyname od innych uczniów:</h4></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th class="align-middle col-sm-3">liczba uzyskanych ocen:</th>
                <td class="align-middle">
                    {{ student_collected_grades_sum }}/{{ students_in_class }} ({{ student_collected_grades_percent }}%)
                </td>
            </tr>
            <tr>
                <th class="align-middle">średnia uzyskanych ocen:</th>
                <td class="align-middle">
                    {{ student_mean_collected_grade }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">przeciętna uzyskana ocena:</th>
                <td class="align-middle">
                    {{ student_median_collected_grade }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">zestawienie ocen:</th>
                <td class="align-middle">
                    <div class="d-flex flex-wrap justify-content-between">
                        {% for grade, names in grading_students_names.items %}
                            <div class="flex-column">
                                <center>
                                    <input type="radio" class="btn-check" name="_" id="_" value="{{ grade.id }}">
                                    <label class="btn btn-outline-custom{{ grade.int_value }}" style="color: black" for="intentionally_wrong_to_prevent_changing">
                                        {% if grade.svg_icon %}
                                            <svg width="48" height="48" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                                                <path d="{{ grade.svg_icon }}"/>
                                            </svg>
                                        {% else %}
                                            {{ grade.caption }}
                                        {% endif %}
                                    </label>
                                </center>
                                <div>
                                    {% if names %}
                                        {% for name in names %}
                                            {{ name }}<br>
                                        {% endfor %}
                                    {% else %}
                                        <i>nikt</i>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="align-self-center">
                            <button class="btn btn-warning" onclick="show_hide_element('collected_grades_plot')">pokaż/ukryj wykres</button>
                        </div>
                        <div id="collected_grades_plot" style="display: none"><img class="plot-fit" src="data:image/png;base64,{{ student_collected_grades_plot }}"/></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        {#GIVEN GRADES SECTION#}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2"><h4>Oceny wystawione przez ucznia dla kolegów i koleżanek:</h4></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th class="align-middle col-sm-3">liczba wystawionych ocen:</th>
                <td class="align-middle">
                    {{ student_given_grades_sum }}/{{ students_in_class }} ({{ student_given_grades_percent }}%)
                </td>
            </tr>
            <tr>
                <th class="align-middle">średnia wystawionych ocen:</th>
                <td class="align-middle">
                    {{ student_mean_given_grade }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">przeciętna wystawiona ocena:</th>
                <td class="align-middle">
                    {{ student_median_given_grade }}
                </td>
            </tr>
            <tr>
                <th class="align-middle">zestawienie ocen:</th>
                <td class="align-middle">
                    <div class="d-flex flex-wrap justify-content-between">
                        {% for grade, names in graded_students_names.items %}
                            <div class="flex-column">
                                <center>
                                    <input type="radio" class="btn-check" name="_" id="_" value="{{ grade.id }}">
                                    <label class="btn btn-outline-custom{{ grade.int_value }}" style="color: black" for="intentionally_wrong_to_prevent_changing">
                                        {% if grade.svg_icon %}
                                            <svg width="48" height="48" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                                                <path d="{{ grade.svg_icon }}"/>
                                            </svg>
                                        {% else %}
                                            {{ grade.caption }}
                                        {% endif %}
                                    </label>
                                </center>
                                <div>
                                    {% if names %}
                                        {% for name in names %}
                                            {{ name }}<br>
                                        {% endfor %}
                                    {% else %}
                                        <i>nikt</i>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="align-self-center">
                            <button class="btn btn-warning" onclick="show_hide_element('given_grades_plot')">pokaż/ukryj wykres</button>
                        </div>
                        <div id="given_grades_plot" style="display: none"><img class="plot-fit" src="data:image/png;base64,{{ student_given_grades_plot }}"/></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </table>
        {{ page }}
    </div>
{% endblock %}
